@use "../../variables";

div.profile {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;

  & > div.profile-info-container {
    display: flex;
    margin: 0 15px;

    & > img {
      width: 300px;
    }

    & > div.profile-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
    }
  }

  & > span {
    margin: 0 15px;
  }

  & > div.statistics-container {
    flex: 1;
    background-color: variables.$secondary-color;
    border-radius: 5px;
  }
}
