.article-container {
  padding: 5px 15%;
  h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 42px;
  }
  p {
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
  }
}
