header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2b2838;
  width: 100%;
  padding: 10px;
  align-items: center;
  // margin-bottom: 15px;
  box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
  height: 70px;

  div.avatar-container {
    display: flex;
    align-items: inherit;
    gap: 15px;
    height: 100%;
  }

  .logo {
    height: "100%";
    display: "inline-block";

    img {
      height: 100%;
    }
  }
}

button.avatar-button {
  height: 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  img {
    height: 100%;
    filter: #5b5869;
  }
}

button.burger-button {
  padding: 8px;
  height: 100%;
  background-image: url("/public/files/burger.png");
  background-repeat: no-repeat; /* Не повторять изображение */
  background-position: center; /* Центрировать по горизонтали и вертикали */
  background-size: cover; /* Масштабировать, чтобы покрыть контейнер */
  width: 50px;

  // &:hover {
  //   filter: brightness(150%);
  // }
}
