*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body,
#root {
  min-height: 100vh;
  /* min-width: 100vw; */
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #444251;
}

main {
  flex: 1;
  margin: 15px 15%;
}
