*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body,
#root {
  min-height: 100vh;
  /* min-width: 100vw; */
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #444251;
}

main {
  flex: 1;
  margin: 15px 15%;
}

div.article-item {
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #5b5869;
  min-height: 200px;
  cursor: pointer;
}

div.article-item:hover {
  background-color: #837e99;
}
