// Переменные
@use "variables";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: variables.$primary-color;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 15%;
  background-color: rgb(0, 0, 0, 25%);
  padding: 40px;
}
